# Scraping and downloading Inside Airbnb links to Pandas

In [1]:
import copy
import pandas as pd
import requests
from bs4 import BeautifulSoup
pd.set_option('max_colwidth', 100)
pd.set_option('max_columns',500)
import logging
import boto3
from botocore.exceptions import ClientError
import os

cities = ['denver','portland','columbus','chicago','pacific-grove']

url = 'http://insideairbnb.com/get-the-data.html'
r = requests.get(url)
print(r.status_code)

200

In [103]:
import copy
import pandas as pd
import requests
from bs4 import BeautifulSoup
pd.set_option('max_colwidth', 100)
pd.set_option('max_columns',500)
import logging
import boto3
from botocore.exceptions import ClientError
import os

def upload_file(file_name, bucket, object_name=None):
    """Upload a file to an S3 bucket

    :param file_name: File to upload
    :param bucket: Bucket to upload to
    :param object_name: S3 object name. If not specified then file_name is used
    :return: True if file was uploaded, else False
    """

    # If S3 object_name was not specified, use file_name
    if object_name is None:
        object_name = file_name

    # Upload the file
    s3_client = boto3.client('s3')
    try:
        response = s3_client.upload_file(file_name, bucket, object_name=None)
    except ClientError as e:
        logging.error(e)
        return False
    return True

def get_links(city_list):
    """
    Description: Finds links in beautiful soup and appends urls to list
    params: list of cities for which user wants to download data
    output: list of urls
    """
    soup = BeautifulSoup(r.content, "lxml")
    links = []
    for city in city_list:
        table = soup.find('table',{'class':f'table table-hover table-striped {city}'})
        for row in table.find_all('a'):
            links.append(row['href']) if 'listings' in row['href'] else \
            links.append(row['href']) if 'reviews' in row['href'] else 0
    return links

def create_link_dfs():
    """
    no params:
    purpose: takes inside airbnb links, adds them to pandas, and transforms them 
    into new dfs split by file type.
    output: df (primary), and splits df1,df2,df3,df4
    """
    links = get_links(cities)
    df = pd.DataFrame(links,columns = ['link'])
    #city_stop_index = df.link.str.slice(46).str.index('/')
    df_split = df['link'].str.split('/').apply(pd.Series)\
                         .rename(columns = lambda x: 'link_' + str(x))[['link_5',
                                                                        'link_6',
                                                                        'link_8']]
    df = df.join(df_split).rename(columns ={'link':'link',
                                            'link_5':'city',
                                            'link_6':'date',
                                            'link_8':'file'})
    
    df1 = df[df['file'] == 'listings.csv.gz'].reset_index().drop('index',axis=1)
    df2 = df[df['file'] == 'listings.csv'].reset_index().drop('index',axis=1)
    df3 = df[df['file'] == 'reviews.csv.gz'].reset_index().drop('index',axis=1)
    df4 = df[df['file'] == 'reviews.csv'].reset_index().drop('index',axis=1)
    
    return df,df1,df2,df3,df4


def load_df(load_count,df_file):
    """
    description: loads csvs and gzips for each df_file type
    params: count: how many urls shoudl be loaded and concatenated into DF
    params: df_file: which of 4 inside airbnb files need downloading
    output: new df, list of url indices that failed to download
    """
    
    missed_index = []
    columns = ['id','city','country_code','country','review_scores_rating','summary']
    df1 = pd.read_csv(df_file.reset_index().drop('index',axis=1).iloc[0][0],compression='gzip')[columns]
    df1['scrape_date'] = pd.to_datetime(df_file.reset_index().drop('index',axis=1).iloc[0]['date'])
    for i in range(1,load_count):
        print('Test_{}'.format(i),'/ Total_{}'.format(load_count),' {}'.format(df_file.reset_index().drop('index',axis=1).iloc[i]['city']))
        df2 = df1.copy()
        df = df1.copy()
        try:
            df1 = pd.read_csv(df_file.reset_index().drop('index',axis=1).iloc[i][0],compression='gzip')[columns]
            df1['city'] = df_file.reset_index().drop('index',axis=1).iloc[i]['city']
            df1['scrape_date'] = pd.to_datetime(df_file.reset_index().drop('index',axis=1).iloc[i]['date'])
            df1 = pd.concat([df,df1],sort=False,ignore_index=True)
        except:
            df1 = df2.copy()
            missed_index.append(i)
            print('Fail_{}'.format(i),'/ Total_{}'.format(load_count))
            
    df1.to_pickle('/home/ubuntu/Notebooks/data/{}.pickle'.format('df1'))
    return df1,missed_index

### Creating DFs for further use

In [104]:
df,df1,df2,df3,df4 = create_link_dfs()

num_loads1 = len(df1)
num_loads2 = len(df2)
num_loads3 = len(df3)
num_loads4 = len(df4)

listings_gz,list1 = load_df(len(df1.iloc[::3]),df1.iloc[::3])

# pd.read_csv(df1.reset_index().drop('index',axis=1).iloc[0][0],compression='gzip')['city']
# df1.reset_index().drop('index',axis=1).iloc[1]['city']
# pd.read_csv(df1.reset_index().drop('index',axis=1).iloc[0][0],compression='gzip')['city']
# df1.reset_index().drop('index',axis=1)

Test_1 / Total_53  denver
Test_2 / Total_53  denver
Test_3 / Total_53  denver
Test_4 / Total_53  denver
Test_5 / Total_53  portland
Test_6 / Total_53  portland
Test_7 / Total_53  portland
Test_8 / Total_53  portland
Test_9 / Total_53  portland
Test_10 / Total_53  portland
Test_11 / Total_53  portland
Test_12 / Total_53  portland
Test_13 / Total_53  portland
Test_14 / Total_53  portland
Test_15 / Total_53  portland
Test_16 / Total_53  portland
Test_17 / Total_53  portland
Test_18 / Total_53  portland
Test_19 / Total_53  portland
Fail_19 / Total_53
Test_20 / Total_53  portland
Fail_20 / Total_53
Test_21 / Total_53  columbus
Test_22 / Total_53  columbus
Test_23 / Total_53  columbus
Test_24 / Total_53  columbus
Test_25 / Total_53  chicago

/home/ubuntu/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (43,61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

Test_26 / Total_53  chicago
Test_27 / Total_53  chicago
Test_28 / Total_53  chicago
Test_29 / Total_53  chicago
Test_30 / Total_53  chicago
Test_31 / Total_53  pacific-grove
Test_32 / Total_53  pacific-grove
Test_33 / Total_53  pacific-grove
Test_34 / Total_53  pacific-grove
Test_35 / Total_53  new-york-city

/home/ubuntu/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (43,61,62,94,95) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

Test_36 / Total_53  new-york-city
Test_37 / Total_53  new-york-city

/home/ubuntu/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (61,87,88) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

Test_38 / Total_53  new-york-city

/home/ubuntu/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (43,87,88) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

Test_39 / Total_53  new-york-city
Test_40 / Total_53  new-york-city

/home/ubuntu/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (43,61,62,88) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

Test_41 / Total_53  new-york-city

/home/ubuntu/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (43,88) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

Test_42 / Total_53  new-york-city
Test_43 / Total_53  new-york-city
Test_44 / Total_53  new-york-city
Test_45 / Total_53  new-york-city

/home/ubuntu/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (43) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

Test_46 / Total_53  new-york-city

/home/ubuntu/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (88) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

Test_47 / Total_53  new-york-city
Test_48 / Total_53  new-york-city

/home/ubuntu/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (40,85) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

Test_49 / Total_53  new-york-city

/home/ubuntu/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

Test_50 / Total_53  new-york-city
Test_51 / Total_53  new-york-city
Fail_51 / Total_53
Test_52 / Total_53  new-york-city
Fail_52 / Total_53

In [110]:
print(listings_gz.shape)

(821327, 7)

In [121]:
listings_gz[['id','city']]

             id           city
0           360         Denver
1           364         Denver
2           590         Denver
3           592         Denver
4           686         Denver
5          1940         Denver
6          2086         Denver
7         21745         Denver
8         31503         Denver
9         39405         Denver
10        56185         Denver
11        59631         Denver
12        74125         Denver
13        81540      Englewood
14        98008         Denver
15        98014         Denver
16       142683         Denver
17       172196         Denver
18       177942         Denver
19       184529         Denver
20       192430         Denver
21       217715         Denver
22       217996         Denver
23       236207         Denver
24       283162         Denver
25       286732         Denver
26       364585         Denver
27       370209         Denver
28       440769         Denver
29       477016         Denver
...         ...            ...
821297  2027350  new-york-city
821298   756861  new-york-city
821299   273895  new-york-city
821300  7842650  new-york-city
821301  3719701  new-york-city
821302    74240  new-york-city
821303  4251490  new-york-city
821304  2257064  new-york-city
821305  7092626  new-york-city
821306  1045155  new-york-city
821307  3420223  new-york-city
821308   672099  new-york-city
821309  7882127  new-york-city
821310  6705127  new-york-city
821311  7889727  new-york-city
821312  1467238  new-york-city
821313  2008809  new-york-city
821314  6209084  new-york-city
821315  1362416  new-york-city
821316  4378504  new-york-city
821317  6846956  new-york-city
821318   206772  new-york-city
821319   581488  new-york-city
821320  7575850  new-york-city
821321  2874695  new-york-city
821322   782681  new-york-city
821323  6684697  new-york-city
821324  8349473  new-york-city
821325  8610021  new-york-city
821326  8336518  new-york-city

[821327 rows x 2 columns]

In [33]:
s3 = boto3.client('s3') 
s3.list_buckets()
s3.list_buckets()['Buckets']
for b in s3.list_buckets()['Buckets']:
    print(b['Name'])
    

response = s3.list_objects_v2(Bucket='b.riddle.001')
response['Contents']
for obj in response['Contents']:
    print(obj['Key'])

b.riddle.001
/Users/ginariddle/Desktop/g.school/data/salary_data.csv

In [22]:

upload_file('/Users/ginariddle/Desktop/g.school/data/salary_data.csv', 'b.riddle.001', object_name=None)

True